.w260{
    width:260px;
}
.mine{
    padding-top:60px;
    padding-left:100px;
}
.margin40{
    margin:40px;
}
.bgBlue{
    background: #66b1ff;
    color:#fff;
    padding:30px;
}
.mainText{
    padding: 30px;
    background: #E4E7ED;
}